In [7]:
import xml.etree.ElementTree as ET
from PIL import Image
import os
import pandas as pd
import numpy as np
from tqdm import tqdm
import math

In [8]:
anno_path = "/home/skorp321/Projects/engineering/data/plechanovo/annotations.xml"

In [19]:
tree = ET.parse(anno_path)

# Получим корневой элемент XML файла
root = tree.getroot()

for image in root.findall("track"):
    id = image.get('id')
    label = image.find('label').text
    for item in image:
        item.get('frame')
        break

0
1540
1
5240
2
0
3
0
4
0
5
0
6
0
7
0

In [26]:
import re


anno_path = '/home/skorp321/Projects/engineering/data/anno'

files  = os.listdir(anno_path)

for file in tqdm(files):

    file = file.replace('_', "")
    result = re.sub(r'\d.*', '', file)
    folder_name = result.capitalize()

    print(folder_name)  # Output: "abc"

100%|██████████| 4/4 [00:00<00:00, 59918.63it/s]

Blackriver
Yarick
Plechanovo
Businovo

In [1]:
import pandas as pd

df = pd.read_csv('../data/outputs/video/splits/names.csv')

df

                                                     0  1
0    data/outputs/video/splits/towel_id_14_12/video...  0
1    data/outputs/video/splits/towel_id_14_12/video...  0
2    data/outputs/video/splits/towel_id_14_12/video...  0
3    data/outputs/video/splits/towel_id_19_13/video...  0
4    data/outputs/video/splits/towel_id_1_1/video_1...  0
..                                                 ... ..
313  data/outputs/video/splits/towel_id_84_122/vide...  1
314  data/outputs/video/splits/towel_id_84_122/vide...  1
315  data/outputs/video/splits/towel_id_84_126/vide...  0
316  data/outputs/video/splits/towel_id_84_126/vide...  1
317  data/outputs/video/splits/towel_id_84_126/vide...  1

[318 rows x 2 columns]